# SUMIT KUMAR     THE SPARKS FOUNDATION (JULY 2024) BATCH

#DATA SCIENCE AND BUSINESS ANALYTICS TASK No. 3    ( Exploratory Data Analysis using Python on Jupyter Notebook)

# Importing Necessary libraries and  Data

In [41]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import display, HTML
df=pd.read_csv('C://Users//DELL//Downloads//SampleSuperstore.csv')
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

#  Quantity Wise Analysis

In [3]:
# Group by 'Category' and sum the 'Quantity','Sales', 'Profit','profit percentage' column
Details_per_category = df.groupby('Category')[['Quantity','Sales','Profit']].sum().reset_index().sort_values(by='Quantity',ascending=False)

# Calculate percentage of Profit to Sales
Details_per_category['Profit Percentage'] = (Details_per_category['Profit'] / Details_per_category['Sales']) * 100

# Round the percentage to 2 decimal places for better readability
Details_per_category['Profit Percentage'] = Details_per_category['Profit Percentage'].round(2)

# Select only the 'Category', 'Sales', 'Profit', and 'Profit to Sales Percentage' columns for display
Details_per_Category = Details_per_category[['Category', 'Quantity','Sales', 'Profit', 'Profit Percentage']]

print(Details_per_Category)
# Add some  space
display(HTML("<br><br><br>"))



# Group by 'Sub-Category' and sum 'Quantity', 'Sales', and 'Profit'
Details_per_Subcategory = df.groupby('Sub-Category').agg({'Quantity': 'sum', 'Sales': 'sum', 'Profit': 'sum'}).reset_index().sort_values(by='Quantity', ascending=False)

# Calculate percentage of Profit to Sales
Details_per_Subcategory['Profit Percentage'] = (Details_per_Subcategory['Profit'] / Details_per_Subcategory['Sales']) * 100

# Round the percentage to 2 decimal places for better readability
Details_per_Subcategory['Profit Percentage'] = Details_per_Subcategory['Profit Percentage'].round(2)

print(Details_per_Subcategory)
# Add some  space
display(HTML("<br><br><br>"))




# Group by 'City' and sum 'Quantity', 'Sales', and 'Profit'
Details_per_city = df.groupby('City').agg({'Quantity': 'sum', 'Sales': 'sum', 'Profit': 'sum'}).reset_index().sort_values(by='Quantity', ascending=False)

# Calculate percentage of Profit to Sales
Details_per_city['Profit Percentage'] = (Details_per_city['Profit'] / Details_per_city['Sales']) * 100

# Round the percentage to 2 decimal places for better readability
Details_per_city['Profit Percentage'] = Details_per_city['Profit Percentage'].round(2)

print(Details_per_city)
# Add some  space
display(HTML("<br><br><br>"))



 #Sort values to get top 10 and bottom 10
sorted_cities = Details_per_city.sort_values(by='Quantity', ascending=False).reset_index(drop=True)

# Extract top 20 values
top_20 = sorted_cities.head(20)

# Extract bottom 20 values
bottom_20 = sorted_cities.tail(20)

print("TOP Cities with highest Quantity sold:")
print(top_20)
# Add some  space
display(HTML("<br><br><br>"))

print("Top Cities with lowest quantity sold:")
print(bottom_20)

          Category  Quantity        Sales       Profit  Profit Percentage
1  Office Supplies     22906  719047.0320  122490.8008              17.04
0        Furniture      8028  741999.7953   18451.2728               2.49
2       Technology      6939  836154.0330  145454.9481              17.40

   Sub-Category  Quantity        Sales      Profit  Profit Percentage
3       Binders      5974  203412.7330  30221.7633              14.86
12        Paper      5178   78479.2060  34053.5693              43.39
9   Furnishings      3563   91705.1640  13059.1436              14.24
13       Phones      3289  330007.0540  44515.7306              13.49
14      Storage      3158  223843.6080  21278.8264               9.51
2           Art      3000   27118.7920   6527.7870              24.07
0   Accessories      2976  167380.3180  41936.6357              25.05
5        Chairs      2356  328449.1030  26590.1663               8.10
1    Appliances      1729  107532.1610  18138.0054              16.87
10       Labels      1400   12486.3120   5546.2540              44.42
16       Tables      1241  206965.5320 -17725.4811              -8.56
8     Fasteners       914    3024.2800    949.5182              31.40
7     Envelopes       906   16476.4020   6964.1767              42.27
4     Bookcases       868  114879.9963  -3472.5560              -3.02
15     Supplies       647   46673.5380  -1189.0995              -2.55
11     Machines       440  189238.6310   3384.7569               1.79
6       Copiers       234  149528.0300  55617.8249              37.20

              City  Quantity       Sales      Profit  Profit Percentage
329  New York City      3417  256368.161  62036.9837              24.20
266    Los Angeles      2879  175851.341  30440.7579              17.31
374   Philadelphia      1981  109077.013 -13837.7674             -12.69
438  San Francisco      1935  112669.092  17507.3854              15.54
452        Seattle      1590  119540.742  29156.0967              24.39
..             ...       ...         ...         ...                ...
213      Iowa City         1       9.990      4.4955              45.00
386    Port Orange         1       7.824      2.9340              37.50
257    Lindenhurst         1      55.480     26.6304              48.00
259      Littleton         1      72.294    -98.8018            -136.67
140         Elyria         1       1.824     -1.3984             -76.67

[531 rows x 5 columns]

TOP Cities with highest Quantity sold:
             City  Quantity        Sales      Profit  Profit Percentage
0   New York City      3417  256368.1610  62036.9837              24.20
1     Los Angeles      2879  175851.3410  30440.7579              17.31
2    Philadelphia      1981  109077.0130 -13837.7674             -12.69
3   San Francisco      1935  112669.0920  17507.3854              15.54
4         Seattle      1590  119540.7420  29156.0967              24.39
5         Houston      1466   64504.7604 -10153.5485             -15.74
6         Chicago      1132   48539.5410  -6654.5688             -13.71
7        Columbus       836   38706.2430   5897.1013              15.24
8       San Diego       670   47521.0290   6377.1960              13.42
9     Springfield       649   43054.3420   6200.6974              14.40
10         Dallas       555   20131.9322  -2846.5257             -14.14
11        Detroit       441   42446.9440  13181.7908              31.05
12   Jacksonville       429   44713.1830  -2323.8350              -5.20
13         Newark       362   28576.1190   5793.7588              20.27
14       Richmond       336   18137.9300   5567.2486              30.69
15        Jackson       318   24963.8580   7581.6828              30.37
16       Columbia       316   25283.3240   5606.1167              22.17
17      Arlington       259   20214.5320   4169.6969              20.63
18         Aurora       258   11656.4780  -2691.7386             -23.09
19     Long Beach       256   13455.0300   2108.9306              15.67

Top Cities with lowest quantity sold:
               City  Quantity    Sales    Profit  Profit Percentage
511   Atlantic City         2   23.360   11.6800              50.00
512        Billings         2    8.288    2.6936              32.50
513         Holyoke         2  301.960   60.3920              20.00
514         Baytown         2   10.368    3.6288              35.00
515    Grand Island         2   15.960    7.9800              50.00
516         Portage         2   16.280    6.5120              40.00
517          Keller         2    6.000    2.1000              35.00
518        Missoula         2  487.984  152.4950              31.25
519       Kissimmee         2  751.984   84.5982              11.25
520       Melbourne         2   95.616    9.5616              10.00
521       Manhattan         2  273.960   10.9584               4.00
522         Abilene         2    1.392   -3.7584            -270.00
523      Montebello         2   27.880    3.9032              14.00
524  Jefferson City         2   86.620    8.6620              10.00
525         Jupiter         1    2.064    0.1548               7.50
526       Iowa City         1    9.990    4.4955              45.00
527     Port Orange         1    7.824    2.9340              37.50
528     Lindenhurst         1   55.480   26.6304              48.00
529       Littleton         1   72.294  -98.8018            -136.67
530          Elyria         1    1.824   -1.3984             -76.67

# Profit Wise Analysis

In [4]:
#subcategory with highest profit
subcat_details = df.groupby('Sub-Category')[['Quantity','Profit','Sales']].sum().reset_index().sort_values(by='Profit',ascending=False)
# Calculate percentage of Profit to Sales
subcat_details['Profit Percentage'] = (subcat_details['Profit'] / subcat_details['Sales']) * 100
print(subcat_details)
# Add some  space
display(HTML("<br><br><br>"))



# Group by 'Region' and sum 'Quantity', 'Sales', and 'Profit'
Details_per_region = df.groupby('Region').agg({'Quantity': 'sum', 'Sales': 'sum', 'Profit': 'sum'}).reset_index().sort_values(by='Profit', ascending=False)

# Calculate percentage of Profit to Sales
Details_per_region['Profit Percentage'] = (Details_per_region['Profit'] / Details_per_region['Sales']) * 100
print(Details_per_region)
# Add some  space
display(HTML("<br><br><br>"))



#Ship Mode with highest profit
shipmode_details = df.groupby('Ship Mode')[['Quantity','Profit','Sales']].sum().reset_index().sort_values(by='Profit',ascending=False)
# Calculate percentage of Profit to Sales
shipmode_details['Profit Percentage'] = (shipmode_details['Profit'] / shipmode_details['Sales']) * 100
print(shipmode_details)

   Sub-Category  Quantity      Profit        Sales  Profit Percentage
6       Copiers       234  55617.8249  149528.0300          37.195585
13       Phones      3289  44515.7306  330007.0540          13.489327
0   Accessories      2976  41936.6357  167380.3180          25.054700
12        Paper      5178  34053.5693   78479.2060          43.391837
3       Binders      5974  30221.7633  203412.7330          14.857361
5        Chairs      2356  26590.1663  328449.1030           8.095673
14      Storage      3158  21278.8264  223843.6080           9.506113
1    Appliances      1729  18138.0054  107532.1610          16.867517
9   Furnishings      3563  13059.1436   91705.1640          14.240358
7     Envelopes       906   6964.1767   16476.4020          42.267582
2           Art      3000   6527.7870   27118.7920          24.071083
10       Labels      1400   5546.2540   12486.3120          44.418672
11     Machines       440   3384.7569  189238.6310           1.788618
8     Fasteners       914    949.5182    3024.2800          31.396504
15     Supplies       647  -1189.0995   46673.5380          -2.547695
4     Bookcases       868  -3472.5560  114879.9963          -3.022768
16       Tables      1241 -17725.4811  206965.5320          -8.564460

    Region  Quantity        Sales       Profit  Profit Percentage
3     West     12266  725457.8245  108418.4489          14.944831
1     East     10618  678781.2400   91522.7800          13.483399
2    South      6209  391721.9050   46749.4303          11.934342
0  Central      8780  501239.8908   39706.3625           7.921629

        Ship Mode  Quantity       Profit         Sales  Profit Percentage
3  Standard Class     22797  164088.7875  1.358216e+06          12.081202
2    Second Class      7423   57446.6354  4.591936e+05          12.510331
0     First Class      5693   48969.8399  3.514284e+05          13.934513
1        Same Day      1960   15891.7589  1.283631e+05          12.380315

# Discount wise Analysis

In [62]:
print('Minimum Discount=',min(df['Discount']), 'Maximum Discount=',max(df['Discount']))
#It represents that discount is given in decimals now we have to multiply discount with sales to get total discount in rupees

Total_discount=df['Discount']*df['Sales']
print('Total Disount(Rupees)=',Total_discount.sum())

# Add some  space
display(HTML("<br><br><br>"))



#Analysis between profit and sales for highest profit giving subcategory (Copiers) --

# Filter Sub-Category which has given the maximum profit with different discounts 
Highest_profit_copiers = df[df['Sub-Category'] == 'Copiers'][['Sub-Category','Sales','Discount','Profit']].sort_values(by='Discount',ascending=True).reset_index(drop=True)

print(Highest_profit_copiers)



# Calculate the correlation coefficient between Sales and Discount
correlation_coefficient = Highest_profit_copiers['Discount'].corr(Highest_profit_copiers['Sales'])
print(f"Correlation Coefficient between Discount and Sales: {correlation_coefficient:.2f}")

# Calculate the correlation coefficient between Sales and Discount
correlation_coefficient = Highest_profit_copiers['Discount'].corr(Highest_profit_copiers['Profit'])
print(f"Correlation Coefficient between Discount and Sales: {correlation_coefficient:.2f}")

Minimum Discount= 0.0 Maximum Discount= 0.8
Total Disount(Rupees)= 322582.134341

   Sub-Category     Sales  Discount     Profit
0       Copiers  2999.950       0.0  1439.9760
1       Copiers   549.990       0.0   274.9950
2       Copiers   549.990       0.0   274.9950
3       Copiers  1599.920       0.0   751.9624
4       Copiers  1999.960       0.0   899.9820
..          ...       ...       ...        ...
63      Copiers  8399.976       0.4  1119.9968
64      Copiers   659.988       0.4   109.9980
65      Copiers  1079.976       0.4   125.9972
66      Copiers   839.988       0.4    69.9990
67      Copiers  1439.976       0.4   191.9968

[68 rows x 4 columns]
Correlation Coefficient between Discount and Sales: -0.22
Correlation Coefficient between Discount and Sales: -0.36

In [66]:
#Analysis between discount and sales for lowest profit making subcategory (Tables)--

# Filter Sub-Category which has given the maximum profit with different discounts 
Lowest_profit_Tables = df[df['Sub-Category'] == 'Tables'][['Sub-Category','Sales','Discount','Profit']].sort_values(by='Discount',ascending=True).reset_index(drop=True)

print(Lowest_profit_Tables)



# Calculate the correlation coefficient between discount and sales
correlation_coefficient = Lowest_profit_Tables['Discount'].corr(Lowest_profit_Tables['Sales'])
print(f"Correlation Coefficient between Discount and Sales: {correlation_coefficient:.2f}")


# Calculate the correlation coefficient between discount and profit
correlation_coefficient = Lowest_profit_Tables['Discount'].corr(Lowest_profit_Tables['Profit'])
print(f"Correlation Coefficient between Discount and profit: {correlation_coefficient:.2f}")

    Sub-Category     Sales  Discount    Profit
0         Tables   653.550       0.0  111.1035
1         Tables   581.960       0.0  104.7528
2         Tables  1256.220       0.0   75.3732
3         Tables  2348.820       0.0  399.2994
4         Tables  2275.500       0.0  386.8350
..           ...       ...       ...       ...
314       Tables   214.950       0.5 -120.3720
315       Tables    73.915       0.5  -45.8273
316       Tables    66.645       0.5  -42.6528
317       Tables   145.980       0.5  -99.2664
318       Tables   182.550       0.5 -135.0870

[319 rows x 4 columns]
Correlation Coefficient between Discount and Sales: -0.30
Correlation Coefficient between Discount and profit: -0.67